@media only screen and (max-width:991px) {
    .trusted {
        display: none;
        visibility: hidden;
    }

}

/* @media only screen and (max-width:767px) {
    .course {
        display: block;
    }

} */